.country-parent{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.country-content{
    padding: 20px 20px;
}
.country-parent .action-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.country-parent form{
    display: flex;
    flex-direction: column;
}
.country-parent form label{
    display: flex;
    flex-direction: column;
}